body {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

.siema {
  margin: 1rem 0;
}

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
